In [80]:
import numpy as np

In [81]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
  return list

def sum_random (list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
  return sum

In [86]:
n = int(input("Enter an integer: "))

Enter an integer: 67

In [87]:
while True:
  if n < 5 or n > 15:
    n = int(input("Enter an integer in between 5 and 15: "))
  else:
   break

Enter an integer in between 5 and 15: 67
Enter an integer in between 5 and 15: 14

In [88]:
MyList = random_list(n)
MyList

[18, 18, 40, 14, 23, 18, 29, 44, 11, 35, 38, 43, 35, 21]

In [89]:
MySum = sum_random(MyList)
MySum

387

In [90]:
MyList2 = np.random.randint(10,50,n)
MyList2

array([34, 31, 43, 27, 10, 48, 43, 46, 17, 37, 16, 35, 13, 17])

In [91]:
MySum2 = sum(MyList2)
MySum2

417